<h1 class="container bg-dark text-white my-4 py-4">NgIf show = {{ show }}</h1>

<div class="container">
  <button class="btn btn-info" (click)="show=!show" *ngIf="show; else showDanger">
    Show danger
  </button>
  <ng-template #showDanger>
    <button class="btn btn-warning" (click)="show=!show">
      Show info
    </button>
  </ng-template>
  <p class="text-info" *ngIf="show; else showDos">
    lorem ipsum
  </p>
  <ng-template #showDos>
    <p class="text-danger">
      lorem ipsum 2
    </p>
  </ng-template>
</div>

<div><h1>{{ title }}</h1></div>
<pm-products></pm-products>